## 1. Sound it out!
<p>Grey and Gray. Colour and Color. Words like these have been the cause of many heated arguments between Brits and Americans. Accents (and jokes) aside, there are many words that are pronounced the same way but have different spellings. While it is easy for us to realize their equivalence, basic programming commands will fail to equate such two strings. </p>
<p>More extreme than word spellings are names because people have more flexibility in choosing to spell a name in a certain way. To some extent, tradition sometimes governs the way a name is spelled, which limits the number of variations of any given English name. But if we consider global names and their associated English spellings, you can only imagine how many ways they can be spelled out. </p>
<p>One way to tackle this challenge is to write a program that checks if two strings sound the same, instead of checking for equivalence in spellings. We'll do that here using fuzzy name matching.</p>

In [173]:
# Importing the fuzzy package
# ... YOUR CODE FOR TASK 1 ...
import fuzzy

# Exploring the output of fuzzy.nysiis
# ... YOUR CODE FOR TASK 1 ...
fuzzy.nysiis('tomorrow')

# Testing equivalence of similar sounding words
# ... YOUR CODE FOR TASK 1 ...
fuzzy.nysiis('colour') == fuzzy.nysiis('color')

True

## 2. Authoring the authors
<p>The New York Times puts out a weekly list of best-selling books from different genres, and which has been published since the 1930’s.  We’ll focus on Children’s Picture Books, and analyze the gender distribution of authors to see if there have been changes over time. We'll begin by reading in the data on the best selling authors from 2008 to 2017.</p>

In [175]:
# Importing the pandas module
# ...YOUR CODE FOR TASK 2...
import pandas as pd

# Reading in datasets/nytkids_yearly.csv, which is semicolon delimited.
# ...YOUR CODE FOR TASK 2...
author_df= pd.read_csv('datasets/nytkids_yearly.csv', delimiter=';')

# Looping through author_df['Author'] to extract the authors first names
first_name = []
for name in author_df['Author']:
    first_name.append(name.split()[0])

# Adding first_name as a column to author_df
# ...YOUR CODE FOR TASK 2...
author_df['first_name'] = first_name

# Checking out the first few rows of author_df
# ...YOUR CODE FOR TASK 2...
print(author_df)

     Year                                    Book Title  \
0    2017                            DRAGONS LOVE TACOS
1    2017              THE WONDERFUL THINGS YOU WILL BE
2    2017                      THE DAY THE CRAYONS QUIT
3    2017                        ROSIE REVERE, ENGINEER
4    2017                          ADA TWIST, SCIENTIST
5    2017                                 SHE PERSISTED
6    2017                     THE BOOK WITH NO PICTURES
7    2017                  WHAT DO YOU DO WITH AN IDEA?
8    2017                          DRAGONS LOVE TACOS 2
9    2017                             WE'RE ALL WONDERS
10   2017                               I WISH YOU MORE
11   2017              MIGHTY, MIGHTY CONSTRUCTION SITE
12   2017                          WAITING IS NOT EASY!
13   2017                WHAT DO YOU DO WITH A PROBLEM?
14   2017                    A CREEPY PAIR OF UNDERWEAR
15   2017                         PRINCESSES WEAR PANTS
16   2017                            EVERYTHING IS MAMA
17   2017                          RUNNY BABBIT RETURNS
18   2017                              LITTLE EXCAVATOR
19   2017         LOVE FROM THE VERY HUNGRY CATERPILLAR
20   2017            PETE THE CAT: FIVE LITTLE PUMPKINS
21   2017                                    PRESS HERE
22   2017                          TAKE HEART, MY CHILD
23   2017                                AFTER THE FALL
24   2017       GOODNIGHT, GOODNIGHT, CONSTRUCTION SITE
25   2017                                     I DISSENT
26   2017            PETE THE CAT: BIG EASTER ADVENTURE
27   2017                          GIVE PLEASE A CHANCE
28   2017             THE LEGEND OF ROCK PAPER SCISSORS
29   2017                    THE NIGHT BEFORE CHRISTMAS
..    ...                                           ...
573  2009                                    ROBOT ZOT!
574  2009  THE HAIR OF ZOE FLEEFENBACHER GOES TO SCHOOL
575  2009       THE LATKE WHO COULDNâT STOP SCREAMING
576  2009                             THE LITTLE PRINCE
577  2009                                         YUMMY
578  2008                   BIG WORDS FOR LITTLE PEOPLE
579  2008                                       GALLOP!
580  2008                                         ABC3D
581  2008                                        SWING!
582  2008                           GINGERBREAD FRIENDS
583  2008   BARACK OBAMA: SON OF PROMISE, CHILD OF HOPE
584  2008                           BRAVA, STREGA NONA!
585  2008                           BATS AT THE LIBRARY
586  2008                                  TEA FOR RUBY
587  2008        TEN LITTLE FINGERS AND TEN LITTLE TOES
588  2008                       A VERY MARLEY CHRISTMAS
589  2008                                GOODNIGHT GOON
590  2008                    HIP HOP SPEAKS TO CHILDREN
591  2008                                        ENIGMA
592  2008                              PETE AND PICKLES
593  2008                    THE NIGHT BEFORE CHRISTMAS
594  2008                                     WABI SABI
595  2008                                     PETER PAN
596  2008                    THE 7 HABITS OF HAPPY KIDS
597  2008                                 TOO MANY TOYS
598  2008                                 WE THE PEOPLE
599  2008                                        BARACK
600  2008           LOUISE, THE ADVENTURES OF A CHICKEN
601  2008                        ON A SCARY SCARY NIGHT
602  2008                              THE LUMP OF COAL

                                       Author  Besteller this year first_name
0                                  Adam Rubin                   49       Adam
1                       Emily Winfield Martin                   48      Emily
2                                Drew Daywalt                   44       Drew
3                                Andrea Beaty                   38     Andrea
4                                Andrea Beaty                   28     Andrea
5                             Chelsea Clinton                   26    Chelsea
6                           Benjamin J. Novak                   24   Benjamin
7                                 Kobi Yamada                   21       Kobi
8              Adam Rubin and Daniel Salmieri                   17       Adam
9                               R. J. Palacio                   16         R.
10                       Amy Krouse Rosenthal                   13        Amy
11   Sherri Duskey Rinker and Tom Lichtenheld                   11     Sherri
12                                 Mo Willems                   11         Mo
13                                Kobi Yamada                    9       Kobi
14                             Aaron Reynolds                    8      Aaron
15     Savannah Guthrie and Allison Oppenheim                    8   Savannah
16                               Jimmy Fallon                    7      Jimmy
17                           Shel Silverstein                    7       Shel
18                               Anna Dewdney                    6       Anna
19                                 Eric Carle                    6       Eric
20                                 James Dean                    6      James
21                               Herve Tullet                    6      Herve
22    Ainsley Earhardt with Kathryn Cristaldi                    6    Ainsley
23                                 Dan Santat                    5        Dan
24   Sherri Duskey Rinker and Tom Lichtenheld                    5     Sherri
25                                Debbie Levy                    5     Debbie
26               James Dean and Kimberly Dean                    5      James
27          Bill O'Reilly and James Patterson                    4       Bill
28                               Drew Daywalt                    4       Drew
29     Clement C. Moore. Various illustrators                    4    Clement
..                                        ...                  ...        ...
573                              Jon Scieszka                    1        Jon
574                     Laurie Halse Anderson                    1     Laurie
575                            Lemony Snicket                    1     Lemony
576                 Antoine de Saint-ExupÃ©ry                    1    Antoine
577                              Lucy Cousins                    1       Lucy
578                          Jamie Lee Curtis                   11      Jamie
579                        Rufus Butler Seder                   11      Rufus
580                           Marion Bataille                    9     Marion
581                        Rufus Butler Seder                    9      Rufus
582                                 Jan Brett                    7        Jan
583                              Nikki Grimes                    6      Nikki
584                             Tomie dePaola                    6      Tomie
585                                Brian Lies                    5      Brian
586                            Sarah Ferguson                    5      Sarah
587                                   Mem Fox                    5        Mem
588                               John Grogan                    4       John
589                               Michael Rex                    4    Michael
590      Nikki Giovanni. Various illustrators                    4      Nikki
591                               Graeme Base                    3     Graeme
592                         Berkeley Breathed                    3   Berkeley
593    Clement C. Moore. Various illustrators                    3    Clement
594                            Mark Reibstein                    3       Mark
595                             Robert Sabuda                    2     Robert
596                                Sean Covey                    2       Sean
597                             David Shannon                    2      David
598                              Lynne Cheney                    2      Lynne
599                              Jonah Winter                    1      Jonah
600                            Kate DiCamillo                    1       Kate
601                               Walter Wick                    1     Walter
602                            Lemony Snicket                    1     Lemony

[603 rows x 5 columns]

## 3. It's time to bring on the phonics... _again_!
<p>When we were young children, we were taught to read using phonics; sounding out the letters that compose words. So let's relive history and do that again, but using python this time. We will now create a new column or list that contains the phonetic equivalent of every first name that we just extracted. </p>
<p>To make sure we're on the right track, let's compare the number of unique values in the <code>first_name</code> column and the number of unique values in the nysiis coded column. As a rule of thumb, the number of unique nysiis first names should be less than or equal to the number of actual first names.</p>

In [177]:
# Importing numpy
# ...YOUR CODE FOR TASK 3...
import numpy as np

# Looping through author's first names to create the nysiis (fuzzy) equivalent
nysiis_name = []
for first_name in author_df['first_name']:
    nysiis_name.append(fuzzy.nysiis(first_name))

# ...YOUR CODE FOR TASK 3...

# Adding nysiis_name as a column to author_df
# ...YOUR CODE FOR TASK 3...
author_df['nysiis_name'] = nysiis_name

# Printing out the difference between unique firstnames and unique nysiis_names:
# ...YOUR CODE FOR TASK 3...
diff_names = len(np.unique(author_df.first_name)) - \
    len(np.unique(author_df.nysiis_name))
print('There are ' + str(diff_names) + ' more unique values for first_name than nysiis_name')

There are 25 more unique values for first_name than nysiis_name

## 4. The inbetweeners
<p>We'll use <code>babynames_nysiis.csv</code>, a dataset that is derived from <a href="https://www.ssa.gov/oact/babynames/limits.html">the Social Security Administration’s baby name data</a>, to identify author genders. The dataset contains unique NYSIIS versions of baby names, and also includes the percentage of times the name appeared as a female name (<code>perc_female</code>) and the percentage of times it appeared as a male name (<code>perc_male</code>). </p>
<p>We'll use this data to create a list of <code>gender</code>. Let's make the following simplifying assumption: For each name, if <code>perc_female</code> is greater than <code>perc_male</code> then assume the name is female, if <code>perc_female</code> is less than <code>perc_male</code> then assume it is a male name, and if the percentages are equal then it's a "neutral" name.</p>

In [179]:
# Reading in datasets/babynames_nysiis.csv, which is semicolon delimited.
babies_df = pd.read_csv('datasets/babynames_nysiis.csv', delimiter=';')

# Looping through the rows of babies_df to and filling up gender
gender = []
for idx in range(len(babies_df['babynysiis'])):
    if babies_df.perc_female[idx] > babies_df.perc_male[idx]:
        gender.append('F')
    elif babies_df.perc_female[idx] < babies_df.perc_male[idx]:
        gender.append('M')
    else:
        gender.append('N')

# Adding a gender column to babies_df
babies_df['gender'] = gender

# Printing out the first few rows of babies_df
babies_df.head()

  babynysiis  perc_female  perc_male gender
0        NaN        62.50      37.50      F
1        RAX        63.64      36.36      F
2       ESAR        44.44      55.56      M
3      DJANG         0.00     100.00      M
4     PARCAL        25.00      75.00      M

## 5. Playing matchmaker
<p>Now that we have identified the likely genders of different names, let's find author genders by searching for each author's name in the <code>babies_df</code> DataFrame, and extracting the associated gender. </p>

In [181]:
# This function returns the location of an element in a_list.
# Where an item does not exist, it returns -1.
def locate_in_list(a_list, element):
    loc_of_name = a_list.index(element) if element in a_list else -1
    return(loc_of_name)

# Looping through author_df['nysiis_name'] and appending the gender of each
# author to author_gender.
author_gender = []
for name in author_df['nysiis_name']:
    nloc = locate_in_list(list(babies_df['babynysiis']), name)
    if nloc == -1:
        author_gender.append('Unknown')
    else:
        author_gender.append(babies_df['gender'][nloc])

# Adding author_gender to the author_df
author_df['author_gender'] = author_gender

# Counting the author's genders
author_df['author_gender'].value_counts()

F          395
M          191
Unknown      9
N            8
Name: author_gender, dtype: int64

## 6. Tally up
<p>From the results above see that there are more female authors on the New York Times best seller's list than male authors. Our dataset spans 2008 to 2017. Let's find out if there have been changes over time.</p>

In [183]:
# This function returns the location of an element in a_list.
# Creating a list of unique years, sorted in ascending order.
years = list(np.unique(author_df.Year))

# Intializing lists
males_by_yr = []
females_by_yr = []
unknown_by_yr = []

# Looping through years to find the number of male, female and unknown authors per year
for yr in years:
    males_by_yr.append(
        len(author_df[(author_df["author_gender"] == 'M') & (author_df["Year"] == yr)]))
    females_by_yr.append(
        len(author_df[(author_df["author_gender"] == 'F') & (author_df["Year"] == yr)]))
    unknown_by_yr.append(len(
        author_df[(author_df["author_gender"] == 'Unknown') & (author_df["Year"] == yr)]))

# Printing out yearly values to examine changes over time
data = np.array([males_by_yr, females_by_yr, unknown_by_yr])
headers = ['males', 'females', 'unknowns']
pd.DataFrame(data, headers, years)

F          395
M          191
Unknown      9
N            8
Name: author_gender, dtype: int64

## 7. Foreign-born authors?
<p>Our gender data comes from social security applications of individuals born in the US. Hence, one possible explanation for why there are "unknown" genders associated with some author names is because these authors were foreign-born. While making this assumption, we should note that these are only a subset of foreign-born authors as others will have names that have a match in <code>baby_df</code> (and in the social security dataset). </p>
<p>Using a bar chart, let's explore the trend of foreign-born authors with no name matches in the social security dataset.</p>

In [185]:
# Importing matplotlib
import matplotlib.pyplot as plt

# This makes plots appear in the notebook
%matplotlib inline

# Plotting the bar chart
plt.bar(years, unknown_by_yr)

# [OPTIONAL] - Setting a title, and axes labels
plt.title('unknown gender by year')
plt.xlabel('years')

NameError: name 'years' is not defined

## 8. Raising the bar
<p>What’s more exciting than a bar chart is a grouped bar chart. This type of chart is good for displaying <em>changes</em> over time while also <em>comparing</em> two or more groups. Let’s use a grouped bar chart to look at the distribution of male and female authors over time.</p>

In [ ]:
# Creating a new list, where 0.25 is added to each year
years_shifted = [year + 0.25 for year in years]

# Plotting males_by_yr
plt.bar(years,  males_by_yr,  width=0.25, color='lightblue')

# Plotting females_by_yr by years_shifted
plt.bar(years_shifted,  females_by_yr,  width=0.25, color='pink')

# [OPTIONAL] - Adding relevant Axes labels and Chart Title
plt.xlabel('Years')
plt.ylabel('No. Authors')
plt.title('Authors by Gender')